div.Title-Page {
	border-style:solid;
}
#_idContainer006 {
	display:inline-block;
	width:95%;
}
img._idGenObjectAttribute-1 {
	height:auto;
	min-width:95%;
	width:95.00%;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
