p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
.poem span.i12 {
    display: block;
    margin-left: 12em
    }
.poem span.i13 {
    display: block;
    margin-left: 13em
    }
.poem span.speaker {
    display: block;
    margin-left: 6em;
    margin-top: 2em
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto
    }
body {
    margin-left: 10%;
    margin-right: 10%
    }
table {
    margin-left: auto;
    margin-right: auto
    }
.blockquot {
    margin-left: 5%;
    margin-right: 10%
    }
.pagenum {
    font-size: smaller;
    text-align: right
    }
.sidenote {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 1em;
    clear: right;
    margin-top: 1em;
    font-size: smaller;
    background: #eee;
    border: dashed 1px
    }
.bb {
    border-bottom: solid 2px
    }
.bl {
    border-left: solid 2px
    }
.bt {
    border-top: solid 2px
    }
.br {
    border-right: solid 2px
    }
.bbox {
    border: solid 2px
    }
.center {
    text-align: center
    }
.smcap {
    font-variant: small-caps
    }
.figcenter {
    margin: auto;
    text-align: center
    }
.figleft {
    clear: left;
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
    padding: 0;
    text-align: center
    }
.figright {
    clear: right;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0;
    padding: 0;
    text-align: center
    }
.footnotes {
    border: dashed 1px
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em
    }
.footnote .label {
    text-align: left
    }
.poem {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left
    }
.poem br {
    display: none
    }
.poem .stanza {
    margin: 1em 0 1em 0
    }
.poem span {
    display: block;
    margin: 0;
    padding-left: 3em;
    text-indent: -3em
    }
.poem span.i2 {
    display: block;
    margin-left: 2em
    }
.poem span.i4 {
    display: block;
    margin-left: 4em
    }